<h1>{{ title }}</h1>
<p>{{ desc }}</p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Contraseña</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.password }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">No hay usuarios registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>