{% extends "base.njk" %}

{% block content %}

    {{Title}}
    <form action="/login" method="POST">
        <div>
            <input type="text" name="name" placeholder="Username" requiered>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password" requiered>
        </div>
        <button type="submit">Login</button>
    </form>

{% endblock %}