{% extends "base.njk"%}

{% block content%}
    {{title}}
    {{desc}}
    <form action="/users" method="POST">
        <div>
            <input type="text" name="username" placeholder="Username" required>
        </div>
        <div>
            <input type="text" name="password" placeholder="Password" required>
        </div>
        <button type="submit">Register</button>
    </form>
{%endblock%}