{% extends "base.njk" %}
{% block content %}
    <h1>{{title}}</h1>
    <p>{{desc}}</p>
    <ul>
    {% for user in users %}
        <li>user.name: {{user.name}}</li>
    {% endfor%}
    </ul>
{% endblock %}
